<div class="homepage">
    <nav>
        <div class="heading">
          <h1 (click)="goToDashboard()">{{'Electronics Shop' | translate}}</h1>
        </div>
        <div class="exceptname">
          <div>
            <button class="user" style="background-color: blueviolet;" *ngIf="auth=='user'" (click)="goToOrders()" >{{"Orders" | translate }} </button>
          </div>
          <div class="cart" *ngIf="auth!='admin'" (click)="goToWishlist()">
            <img class="cartImage" src="../assets/images/wishlist.webp" alt="cart Image">
            <div class="cartNumber">{{wishlistItems.length}}</div>
          </div>
          <div class="cart" *ngIf="auth!='admin'" (click)="goToCart()">
            <img class="cartImage" src="../assets/images/cart.webp" alt="cart Image">
            <div class="cartNumber">{{cartItems.length}}</div>
          </div>
          <div class="dropdown-container" (click)="toggleDropdown()">
            <img  *ngIf="auth=='admin'" class="settings" src ="../assets/images/settings.webp" alt="Menu">
            <ul class="dropdown-menu" *ngIf="showDropdown">
              <li (click)="goToHome()">{{"Home" | translate}}</li>
              <li (click)="goToOrders()">{{"Orders" | translate}}</li>
              <li (click)="goToUsers()">{{"Users" | translate}}</li>
              <li (click)="goToDevices()">{{"Devices" | translate}}</li>
            </ul>
          </div>

          <div class="selectbtn">
            <button class="user" (click)="toggleControl()">{{name}}</button>
            <app-language-switcher></app-language-switcher>
          </div>
          
           

        </div>
        
        
      </nav>
</div>

<router-outlet></router-outlet> 